:root {
    --app-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

body{
    background-color: black;
    overflow-y: hidden;
}

.page-arrow {
    position: absolute;
    top: var(--distance-from-top);
    color: rgba(255, 255, 255, 0.5);
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.left-arrow {
}

.right-arrow {
    right: 0px;
}

.loopback-image {
    width: 100px;
    margin: 10px 50px;
    padding: 40px;
}


.preview-image {
    width: 300px;
    margin: 10px 5px;
    padding: 5px;
}

.preview-image:focus {
    animation: focusImage .5s;
    transform: scale(1.2);
    outline: none;
}

@keyframes focusImage {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.set-container {
    padding: 15px;
}

.set-container > label {
    color: white;
    font-family: var(--app-font-family);
    font-size: 1.5em;
    margin:10px;
}

.set-images-container {
    overflow-x: hidden;
}

.scrolling-image {
    animation: scrollElement .5s;
    transform: translateX(var(--scroll-distance));
}

.scrolled {
    transform: translateX(var(--scroll-distance));
}


@keyframes scrollElement {
    from {
        transform: translateX(var(--current-scroll-position));
      }
    to {
        transform: translateX(var(--scroll-distance));
    }
}

.set-images {
    width: max-content;
}

.modal {
    position: fixed;
    width: 70vw;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 5vh;
    left: 15vw;
    z-index: 0;
    font-family: var(--app-font-family);
    color: white;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 2;
}

.modal-container {
    border-radius: 10px;
    background: rgb(25, 25, 97, 0.9);
    position: relative;
    padding: 20px;
}

.modal-button-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.modal-button {
    appearance: none;
    outline: none;
    font-family: var(--app-font-family);
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 10px 30px;
    min-width: 150px;
}

#preview-video {
    border-radius: 10px;
    width: 100%;
}

#video-information {
    margin-top: -120px;
    margin-left: 20px;
}
